.container
{
 
  justify-content: center;
  background-color:#C5B0F1;
  height:800px;
 
}
.container h2{
text-align: center;
}
.listOfBlog
{
  margin-top:10%;
 
 
}
.card{
  background-color:#E9CEE1;
  width: 18rem;
}
.BlogForm
{
  color: black;
  float: right;
  margin-top:5%;

}
.CreatBlog
{
  background-color:#9EA2F9;
}